<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Screen</title>
  </head>
  <body>
  	<script type="text/javascript" src="https://www.airconsole.com/api/airconsole-1.7.0.js"></script>
  </body>
</html>
